@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;

}

:root {
  /* VARRIBLES */
  --redbg: #780000;
  --background: #fdf0d5;
  --bluebg: #003049;
  --mediumred: #C1121F;

  --select-bg: #FFFCF8;
  --select-border: #8f8f8f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oleo Script', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}


body {

  background-color: var(--background);
}


a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
}

/*-------- header --------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-menu a {
  color: white;
}

.header-icons {
  display: flex;

}

.header-icons a {
  font-size: 1.5rem;
  margin: 0px 20px 0px 40px
}


.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
}

.nav-icons {
  font-size: 1.5rem;

}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-wrapper i {
  color: white;
}

.hamburger {
  display: none;
}

header .logo {
  height: 45px;
}

header .logo-2 {
  display: none;
}

header {
  transition: 0.5s;
}

header.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

header.sticky i,
header.sticky .line,
header.sticky .nav-item a {
  color: black;
  stroke: black;
}

header.sticky .logo-1 {
  display: none;
}

header.sticky .logo-2 {
  display: block;
}

/*-------- big foto --------*/

.landingpage_text {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%;
  background-image: url(/img/toby\ lol.png);
  background-size: cover;
  background-position: -25px;
  margin-top: -52px;

}

.landingpage_text h2 {
  margin-top: 110px;
  padding: 20px;
  font-size: clamp(1rem, 2rem, 5rem);
  color: white;
}


/*-------- big wave ---------*/

.big-wave {
  background-image: url(/img/wave.svg);
  height: 30vh;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.big-wave p {
  max-width: 90%;
}


footer {
  background-color: var(--bluebg);
}


/*-------- produkt teaser --------*/

.produkt-teaser-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.overskrift-wrapper hr {
  width: 100%;
  border: solid 1px black;
}

.produkt-teaser-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60vh;
  margin: 10px 0;
  width: 100%;
}

.produkt-teaser-text {
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
}

.produkt-teaser-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.produkt-teaser-section-spiritus {
  background-color: var(--redbg);
  padding: 15px 0;
}

.produkt-teaser-section-spiritus h3 {
  color: white;
}

.produkt-teaser-text-spiritus {
  color: white;
}

.se-mere-button {
  background-color: var(--mediumred);
  color: white;
  border-radius: 10px;
  padding: 7px 13px;
  font-size: 16px;
}

/*-------------- SLIDER --------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides,
.mySlides2,
.mySlides3 {
  display: none;
}

.desktop-img-container {
  display: none;
}

.desktop-img-container img {
  clip-path: inset(-10% 10% -10% 10%);
}

.mySlides img,
.mySlides2 img,
.mySlides3 img {
  width: 100%;
  height: 212px;
  max-width: 318px;
  display: block;
  margin: 0 auto;
  clip-path: inset(0% 10% 0% 10%);
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.arrow-black {
  color: black;
  font-size: 25px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  margin-right: -15px;
}

.prev {
  left: 0;
  margin-left: -15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*------------- NYHEDSBREV -------------*/

.nyhedsbrev-article {
  background-color: var(--bluebg);
  height: 60vh;
  display: flex;
}

.nyhedsbrev-section {
  width: 85%;
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.nyhedsbrev-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.nyhedsbrev-section h2 {
  margin-top: 20px;
}

.nyhedsbrev-section img {
  width: 80%;
  margin: auto;
}

.nyhedsbrev-text {
  color: white;
  margin: 0 auto;
}

.tilmeld-wrapper form {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  font-size: 1rem;
}

.input-felt {
  position: relative;
  margin-bottom: 1rem;
}

.tilmeld-wrapper input {
  background-color: var(--bluebg);
  color: white;
  font-size: 0.9rem;
  border: none;
  border-bottom: 2px solid white;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 5px;
}

.tilmeld-wrapper input:focus {
  outline: none;
  color: white;
  border-bottom: 2px solid white;
}

.tilmeld-wrapper button {
  background-color: white;
  color: var(--bluebg);
  font-size: 0.9rem;
  font-weight: 600;
  width: 50%;
  padding: 0.4rem;
  margin: auto;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* inspirations teaser */
.ins-teaser-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.ins-teaser-article {
  background-color: var(--mediumred);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  height: 60vh;
}

.ins-teaser-article a {
  background-color: var(--redbg);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 22px;
}

.ins-teaser-article p {
  width: 85%;
  max-width: 460px;
}

.wine-bottle-wrapper {
  display: flex;
  gap: 20px;
}

.wine-bottle-wrapper img {
  margin-bottom: -120px;
}

/*-------- footer --------*/

footer h6 {
  font-size: 1.5rem;
  padding: 10px 0px;
}

footer li {
  line-height: 2rem;
  width: 70%;
  white-space: nowrap;
  font-size: clamp(.3rem, .8rem, 1rem);

}

.div-line-one {
  width: 100%;
}


/*Footer design */

footer {
  background-color: var(--bluebg);
}

.footer-wrapper-mobile {
  display: flex;
  flex-direction: column;
}

.aabningstider-footer {
  color: white;
  font-size: 0.9rem;

}

footer article {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px
}

footer li,
h6 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  list-style: none;
}


footer h6 {
  font-size: 1.5rem;
  padding: 10px 0px;
}



.div-line-one {
  width: 100%;
}

.footer-wrapper-mobile {
  display: flex;
  flex-direction: column;
}



.soMe-footer {
  width: 200%;
  overflow: hidden;
  text-align: center;
  border-top: 1px white solid;
}


.soMe-footer h6 {
  display: none;
}

.soMe {
  font-size: 2.4rem;
  padding: 10px 20px 30px 20px;

}

/*end of footer design */
#map{
  width: 100%;
  height: 20vh;
}

/* Burger menu */
@media(max-width:768px) {

  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .hamburger input:checked+svg .line {
    stroke: black;
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    height: 40vh;
    flex-direction: column;
    background-color: var(--orangeweb);
    width: 100%;
    height: 100%;
    justify-content: start;
    padding-top: 8rem;
    transition: 0.3s;
    gap: 50px;
    background-color: white;
    opacity: 90%;
    z-index: 1;
  }

  .nav-link {
    font-size: 2rem;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    right: 0;
  }

  .nav-menu.active a {
    color: black;
  }
}

/*End of burger menu */


/* Inspirations side START */


.video-article {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
  max-width: 850px;
}


.video-article p {
  font-size: clamp(1rem, 1.5rem, 3rem);
  margin-bottom: 3rem;
}

.video-article h2 {
  font-size: clamp(1rem, 3rem, 5rem);
}

.inspir-header-desktop {
  display: none;
}

.infographic-header {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FEF1EE;
}

.wine-head-svg {
  position: absolute;
  left: -60%;
  width: 140%;
  z-index: 9;
}

.wine-sect {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sect-red {
  background-color: #E94A4C;
}

.sect-yellow {
  background-color: #FDF0D5;
}

.wine-text-red-sect {
  color: #FEF1EE;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.wine-text-yellow-sect {
  color: #E94A4C;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.wine-text h3,
h4 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.wine-text h3 {
  font-size: 20px;
}

.wine-text h4 {
  font-size: 18px;
}

.wine-and-glass {
  width: 100px;
}

.wine-illu {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.grid-circle-container {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 7px;
}

.grid-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F18F97;
}

.grid-text-yellow {
  display: flex;
  align-items: center;
  color: #FEF1EE;
  font-size: 18px;
}

.grid-text-red {
  display: flex;
  align-items: center;
  color: #E94A4C;
  font-size: 18px;
}

.grid-circle.filled-yellow {
  background-image: linear-gradient(to right, #FDF0D5 50%, #FDF0D5 50%);
}

.grid-circle.filled-red {
  background-image: linear-gradient(to right, #E94A4C 50%, #E94A4C 50%);
}


.grid-circle.half-filled-yellow {
  background-image: linear-gradient(to right, #FDF0D5 50%, #F18F97 50%);
}

.grid-circle.half-filled-red {
  background-image: linear-gradient(to right, #E94A4C 50%, #F18F97 50%);
}



/* vin-kategori html START  */

.produkter {
  height: 25vh;
  width: 80%;
  margin: 10px auto;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;

}

.roodvin-kategori {
  background-image: url(/img/roodvin-kategori.webp);
  background-position: center;
}

.hvidvin-kategori {
  background-image: url(/img/hvidvin-kategori.webp);
  background-position: center;
}

.mousserende-kategori {
  background-image: url(/img/mousserende-kategori.webp);
  background-position: center;
}

.andre-vine-kategori {
  background-image: url(/img/andre-vine-kategori.webp);
  background-position: center;
}

.vinflaske-bg {
  background-image: url(/img/vinflaske-beige.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 100%;
}

.vinflaske-bg a {
  width: 100%;
}

.produkter h2 {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1rem, 2.2rem, 3rem);
  color: white;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 20px;



}

.hvidvin-header,
.andre-vine-header {
  justify-content: flex-end;
}


/* vin-kategori html  SLUT */

/* roodvin-produkter html START */

.roodvin-banner {
  font-size: clamp(2rem, 5vw, 3rem);
  color: white;
  height: 20vh;
  width: 100%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/img/roodvin-kategori.webp);
  font-family: 'Raleway', sans-serif;
  padding: 20px;
}


.filter-wrapper {
  /* display: flex;
  flex-wrap: wrap;
  width: 100%; */

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* width: 95%;
  margin: 0 auto ; */

  background-color: var(--select-bg) ;
  border-top: var(--select-border) 1px solid;
  border-bottom: var(--select-border) 1px solid;
  height: 50px;
}

.filter-wrapper label{
  display: none;
}

.filter-wrapper select{
  width: 100%;
  text-align: center;
  appearance: none;
  background-color: transparent;
  border: none;
  border-left: var(--select-border) 0.5px solid;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.filterBtnCont{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.filterBtnCont button{
  border: none;
  padding: 10px 35px;
  background-color: var(--mediumred);
  font-family: inherit;
  font-size: inherit;
  color: #fff;
  border-radius: 10px;
}



#wineList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 90%;
  margin: 0 auto 30px auto;
}

.produkt-kasser img {
  width: 100%;
}

.produkt-kasser {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.produkt-kasser a{
  -webkit-box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.46); 
  box-shadow: 3px 6px 15px -1px rgba(0,0,0,0.46);
}

.produkt-tekst-baggrund {
  background-color: #E94A4C;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -7px;
  height: 150px;
}

.produkt-tekst-baggrund p {
  font-size: .9rem;
  line-height: 1.5rem;
  font-weight: 200;

}

#produkt-pris {
  font-size: 1.5rem;
  margin: 10px;
}

@media (min-width: 769px){

  #wineList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1024px){

  .filter-wrapper {
    /* display: flex;
    flex-wrap: wrap;
    width: 100%; */
  
    display: flex;
    flex-direction: column;
  
    /* width: 95%;
    margin: 0 auto ; */
  
    background-color: var(--select-bg) ;
    border: none;
    height: 100%;
    width: 250px;
    padding-bottom: 20px;
  }
  
  .filter-wrapper label{
    display: block;
    cursor: pointer;
    margin: 10px 0 0 0;
  }

  .filterBtnCont{
    display: none;
  }

 .wrapper-filter-desktop{
  display: flex;
  gap: 40px;
 }

 .filter-headline{
  text-align: center;
  font-size: 20px;
  margin: 20px 0 0 0;
 }

 .filter-wrapper hr{
  width: 80%;
  margin: 0 auto 20px auto;
 }

 .filter-wrapper input{
  margin: 0 10px 0px 30px;
 }

 .filter-wrapper input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.filter-wrapper input[type="checkbox"]:checked {
  background-color: black;
}

.produkt-kasser {
  width: 70%;
  margin: 0 auto;
}

.produkt-tekst-baggrund {
  background-color: #E94A4C;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -7px;
  height: 90px;
}

.produkt-tekst-baggrund p {
  font-size: .7rem;
  line-height:  1rem;
  font-weight: 200;
  width: 90%;
  margin: 5px auto 0 auto;
}

#produkt-pris {
  font-size: 1.3rem;
  margin: 10px;
}

#wineList{
  gap: 30px 0;
  width: 90%;
  margin: 30px auto 30px auto;
}


}

/*  roodvin-produkter html SLUT  */


/* udvalgte produkt html START */

#product-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150%;
  text-align: center;

}

.udvalgt-produkt-tekst {
width: 60%;
margin: auto;
}

.prisklasse {
  font-size: 2.5rem;
}


#product-details p {
  color: white;
  margin: 20px auto;
  text-align: start;
  
  
}

#product-name {
  font-size: 2.5rem;
}
/* hvorfor må jeg ikke ramme den? */ 
#product-price {
  font-size: 2rem;
}

#product-image {
  position: relative;
  height: 100%;
  object-fit: contain;
  width: 80%;
  margin: auto;
  border-radius: 20px;

}

.baggrunds-kasse {
  position: absolute;
  top: 40%;
  background-color: var(--bluebg);
  height: 40rem;
  width: 100%;
  z-index: -1;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 10px auto;
  width: 60%;
}
.icon-wrapper img {
  height: 100%;
  object-fit: contain;
 
}


.reserver-section {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.reserver-section a {
  background-color: var(--redbg);
  color: white;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.reserver-section input {
  background-color: white;
  color: black;
  width: 10%;
  height: 100%;
  font-size: 2rem;
  
}



/* Udvalgte produkt html SLUT */


@media (min-width:430px) {
  .infographic {
    width: 90%;
    margin: auto;
  }

}

@media (min-width: 768px) {

  .infographic,
  .video-article {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    padding-bottom: 20px;
  }

  #myVideo {
    height: 300px;
    width: 500px;
  }

  .video-article-text {

    text-align: start;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15%;
  }

  .video-article p {
    font-size: 1.5rem;

  }


  .info-2 {
    order: 3;
  }

  .info-3 {
    order: 3;
  }

  .info-4 {
    order: 4;
  }

  .info-5 {
    order: 5;
  }

  .info-6 {
    order: 6;
  }

  /* Inspirations side SLUT */


/* Rødvins produkter side START */

/* Rødvins produkter side SLUT */


  /*footer design */


  footer article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 30px;

  }

  .footer-wrapper-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer hr {
    display: none;
  }

  .soMe-footer {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    align-items: center;
    gap: 20px;
    border: hidden;


  }

  .soMe {
    padding: 0px;
  }

  .kontakt-footer {
    order: 1;
  }

  .soMe-footer {
    order: 2;
  }

  .adresse-footer {
    order: 3;
  }


  .soMe-footer h6 {
    display: block;
  }

  footer li {
    font-size: clamp(.9rem, 1.2rem, 2rem);

  }

  .video-article h2 {
    font-size: clamp(1rem, 2rem, 3rem);



  }

  .inspir-header-mobile {
    display: none;
  }

  .inspir-header-desktop {
    display: block;
  }

  .video-article,
  .infographic {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    max-width: 1000px;
  }

  .infographic-header {
    grid-column: span 2;
    height: 200px;
  }

  .sect-red {
    background-image: url(/img/wave-bg-info-01.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .sect-yellow {
    background-color: #FDF0D5;
    background-image: url(/img/wave-bg-info-02.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .info-1 {
    order: 1;
  }

  .info-2 {
    order: 3;
  }

  .info-3 {
    order: 3;
    background-image: url(/img/wave-bg-info-reverse-02.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .info-4 {
    order: 4;
    background-image: url(/img/wave-bg-info-reverse-01.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .info-5 {
    order: 5;
  }

  .info-6 {
    order: 6;
  }

  /*-------- Produkt teaser article --------*/

  .mySlides img,
  .mySlides2 img,
  .mySlides3 img {
    width: 450px;
    max-width: 700px;
    height: 300px;
  }

  .produkt-teaser-section {
    height: 70vh;
    gap: 40px;
  }

  .produkt-teaser-text {
    font-size: 22px;
    margin: 0 auto;
  }

  .slideshow-container {
    margin: 0 auto;
  }

  .produkt-teaser-article h2 {
    font-size: 34px;
  }

  .produkt-teaser-article h3 {
    font-size: 30px;
  }

  .se-mere-button {
    font-size: 24px;
  }

  /*-------- big wawe --------*/
  .big-wave p {
    max-width: 460px;
    font-size: 22px;
  }

  /*-------- nyhedsbrev --------*/
  .nyhedsbrev-section {
    max-width: 470px;
    gap: 50px;
  }

  .nyhedsbrev-section h2 {
    font-size: 34px;
  }

  .nyhedsbrev-section p {
    font-size: 22px;
  }

  .tilmeld-wrapper button {
    font-size: 18px;
  }

  /*-------- inspirations teaser --------*/

  .ins-teaser-article h2 {
    font-size: 34px;
  }

  .ins-teaser-article p {
    font-size: 22px;
    max-width: 470px;
  }

  .ins-teaser-article a {
    font-size: 24px;
    padding: 15px 20px;
  }

  .wine-bottle-wrapper img {
    width: 85px;
  }

  .landingpage_text {
    background-position: 35px;
  }

  .landingpage_text h2 {
    font-size: 40px;
    margin-top: 153px;
  }

  .big-wave {
    height: 20vh;
  }
}

@media (min-width: 1440px) {

  .overskrift-wrapper {
    margin-bottom: -80px;
  }

  .slideshow-container {
    display: none;
  }

  .desktop-img-container {
    display: flex;
    gap: 0px;
  }

  .desktop-img-container img {
    width: 310px;
    box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .dot,
  .dot2,
  .dot3 {
    display: none;
  }

  .produkt-teaser-section {
    height: 430px;
    gap: 0px;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 0 auto;
    padding-right: 45px;
  }

  .se-mere-button {
    margin-top: 300px;
    margin-right: -150px;
  }

  .se-mere-button-2 {
    margin-right: 0px;
    margin-left: -150px;
  }

  .produkt-teaser-section-spiritus {
    flex-direction: row;
    padding: 0;
    padding-left: 45px;
  }

  .produkt-teaser-text {
    font-size: 24px;
    margin: 0 auto;
  }

  .produkt-teaser-article h3 {
    font-size: 40px;
  }

  .produkt-teaser-article h2 {
    font-size: 50px;
  }

  .se-mere-button {
    font-size: 24px;
  }

  /*-------- big wawe --------*/
  .big-wave p {
    max-width: 460px;
    font-size: 22px;
  }

  /*-------- nyhedsbrev --------*/
  .nyhedsbrev-section {
    max-width: 100%;
    gap: 100px;
    flex-direction: row;
  }

  .nyhedsbrev-section h2 {
    font-size: 40px;
  }

  .nyhedsbrev-section p {
    font-size: 24px;
  }

  .nyhedsbrev-text-wrapper {
    max-width: 500px;
    gap: 70px;
  }

  .tilmeld-wrapper input {
    background-color: white;
    color: var(--bluebg);
    border-bottom: 2px solid var(--bluebg);
    font-size: 1.2rem;
  }

  .tilmeld-wrapper input:focus {
    color: var(--bluebg);
    border-bottom: 2px solid var(--bluebg);
  }

  .tilmeld-wrapper {
    background-color: white;
    padding: 30px 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .tilmeld-wrapper form {
    color: var(--bluebg);
    font-size: 20px;
    gap: 40px;
  }

  .tilmeld-wrapper button {
    font-size: 22px;
    background-color: var(--bluebg);
    color: white;
  }

  /*-------- inspirations teaser --------*/

  .ins-teaser-article {
    background-image: url(/img/ins-teaser-dekstop-foto.webp);
  }

  .ins-teaser-content-wrapper {
    background-color: var(--mediumred);
    width: 600px;
    align-items: flex-start;
    padding-left: 85px;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: 80px;
  }

  .wine-bottle-wrapper {
    margin-left: 190px;
    margin-top: -40px;
  }

  .wine-bottle-wrapper img {
    width: 45px;
    margin-bottom: 10px;
  }

  .landingpage_text {
    background-position: 50px;
    height: 80vh;
    margin-top: -80px;
  }

  .landingpage_text h2 {
    font-size: 100px;
    margin-top: 400px;
    padding: 45px;
  }

  .big-wave {
    height: 30vh;
  }

  .big-wave p {
    font-size: 26px;
  }

  .nav-menu a {
    font-size: 34px;
  }

  header {
    height: 80px;
    display: flex;
  }

  .navbar {
    width: 100%;
  }

  .nav-icons {
    font-size: 36px;
  }

  header .logo {
    height: 80px;
  }
}

@media (min-width: 1920px){
  .produkt-teaser-section{
    justify-content: center;
    padding: 0;
  }
  .produkt-teaser-text{
    margin: 0;
    width: 100%;
    font-size: 28px;
  }
  .produkt-teaser-text-container{
    gap: 20px;
  }
  .produkt-teaser-article h3{
    font-size: 45px;
  }
  .produkt-teaser-article h2 {
    font-size: 55px;
  }
  .big-wave p{
    font-size: 32px;
    max-width: 650px;
    margin-top: 30px;
  }
  .big-wave{
    height: 30vh;
  }
  .landingpage_text {
    background-position: 80px -70px;
  }
  .mySlides img,
  .mySlides2 img,
  .mySlides3 img {
    width: 100%;
  }
  
}