@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Raleway', sans-serif;

}

:root {
  /* VARRIBLES */
  --redbg: #780000;
  --background: #fdf0d5;
  --bluebg: #003049;
  --mediumred: #C1121F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oleo Script', cursive;
}

p {
  font-family: 'Raleway', sans-serif;
}


body {

  background-color: var(--background);
}


a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.5rem;
}

/*-------- header --------*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu hr {
  width: 30%;
  border: 1px solid #ffffff;

}

.nav-menu a {
  color: #391e1e;
}

.header-icons {
  display: flex;

}

.header-icons a {
  font-size: 1.5rem;
  margin: 0px 20px 0px 40px
}

.logo {
  max-width: 150px;
  height: clamp(50px, 70px, 150px);
}



.navbar ul li {
  list-style: none;
  display: block;
  position: relative;
  margin: 0 45px;
  display: flex;
  align-items: center;
}

.nav-icons {
  font-size: 1.5rem;

}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.header-wrapper i {
  color: white;
}

.hamburger {
  display: none;
  cursor: pointer;
}

header {
  transition: 0.5s;
}

header.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
}

header.sticky i,
header.sticky .line {
  color: black;
  stroke: black;
}

/*-------- big foto --------*/

.landingpage_text {
  display: flex;
  justify-content: center;
  height: 40vh;
  width: 100%;
  background-image: url(/img/Frontpage-pic.jpg);
  background-size: cover;
  background-position: center;
  margin-top: -52px;
}

.landingpage_text h2 {
  margin-top: 30%;
  padding: 20px;
  font-size: clamp(1rem, 3rem, 5rem);
  color: white;
}


/*-------- big wave ---------*/

.big-wave {
  background-image: url(/img/wave.svg);
  height: 30vh;
  margin-top: -10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.big-wave p {
  max-width: 90%;
}


footer {
  background-color: var(--bluebg);
}


/*-------- produkt teaser --------*/

.produkt-teaser-article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.overskrift-wrapper hr {
  width: 100%;
  border: solid 1px black;
}

.produkt-teaser-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 60vh;
  margin: 10px 0;
  width: 100%;
}

.produkt-teaser-text {
  margin: 0 auto;
  width: 80%;
  max-width: 400px;
}

.produkt-teaser-section-spiritus {
  background-color: var(--redbg);
  padding: 15px 0;
}

.produkt-teaser-section-spiritus h3 {
  color: white;
}

.produkt-teaser-text-spiritus {
  color: white;
}

.se-mere-button {
  background-color: var(--mediumred);
  color: white;
  border-radius: 10px;
  padding: 7px 13px;
  font-size: 16px;
}

/*-------------- SLIDER --------------*/

/* Slideshow container */
.slideshow-container {
  max-width: 85%;
  position: relative;
  margin: 0 auto;
}

/* Hide the images by default */
.mySlides,
.mySlides2,
.mySlides3 {
  display: none;
}

.mySlides img,
.mySlides2 img,
.mySlides3 img {
  width: 100%;
  max-width: 318px;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


/* The dots/bullets/indicators */
.dot,
.dot2,
.dot3 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #717171;
}

/*------------- NYHEDSBREV -------------*/

.nyhedsbrev-article {
  background-color: var(--bluebg);
  height: 60vh;
  display: flex;
}

.nyhedsbrev-section {
  width: 85%;
  max-width: 375px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.nyhedsbrev-section h2 {
  margin-top: 20px;
}

.nyhedsbrev-section img {
  width: 80%;
  margin: auto;
}

.nyhedsbrev-text {
  color: white;
  margin: 0 auto;
}

.tilmeld-wrapper form {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: white;
  font-size: 1rem;
}

.input-felt {
  position: relative;
  margin-bottom: 1rem;
}

.tilmeld-wrapper input {
  background-color: var(--bluebg);
  color: white;
  font-size: 0.9rem;
  border: none;
  border-bottom: 2px solid white;
  font-size: 0.9rem;
  width: 100%;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0 5px;
}

.tilmeld-wrapper input:focus {
  outline: none;
  color: white;
  border-bottom: 2px solid white;
}

.tilmeld-wrapper button {
  background-color: white;
  color: var(--bluebg);
  font-size: 0.9rem;
  font-weight: 600;
  width: 50%;
  padding: 0.4rem;
  margin: auto;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* inspirations teaser */
.ins-teaser-article {
  background-color: var(--mediumred);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  overflow: hidden;
  height: 60vh;
}

.ins-teaser-article a {
  background-color: var(--redbg);
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 22px;
}

.ins-teaser-article p {
  width: 85%;
  max-width: 460px;
}

.wine-bottle-wrapper {
  display: flex;
  gap: 20px;
}

.wine-bottle-wrapper img {
  margin-bottom: -120px;
}

/*-------- footer --------*/

footer h6 {
  font-size: 1.5rem;
  padding: 10px 0px;
}

footer li {
  line-height: 2rem;
  width: 70%;
  white-space: nowrap;
  font-size: clamp(.3rem, .8rem, 1rem);

}

.div-line-one {
  width: 100%;
}

input:focus {
  outline: none;
  color: white;
  border-bottom: 2px solid white;
}

button {
  background-color: white;
  color: var(--bluebg);
  font-size: 0.9rem;
  font-weight: 600;
  width: 50%;
  padding: 0.4rem;
  margin: auto;
  margin-top: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Footer design */

footer {
  background-color: var(--bluebg);
}

.footer-wrapper-mobile {
  display: flex;
  flex-direction: column;
}

.aabningstider-footer {
  color: white;
  font-size: 0.9rem;

}

footer article {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px
}

footer li,
h6 {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  list-style: none;
}


footer h6 {
  font-size: 1.5rem;
  padding: 10px 0px;
}



.div-line-one {
  width: 100%;
}

.footer-wrapper-mobile {
  display: flex;
  flex-direction: column;
}



.soMe-footer {
  width: 200%;
  overflow: hidden;
  text-align: center;
  border-top: 1px white solid;
}


.soMe-footer h6 {
  display: none;
}

.soMe {
  font-size: 2.4rem;
  padding: 10px 20px 30px 20px;

}

/*end of footer design */


/* Burger menu */
@media(max-width:768px) {

  .hamburger {
    display: block;
  }

  .hamburger {
    cursor: pointer;
  }

  .hamburger input {
    display: none;
  }

  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line {
    fill: none;
    stroke: white;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .line-top-bottom {
    stroke-dasharray: 12 63;
  }

  .hamburger input:checked+svg {
    transform: rotate(-45deg);
  }

  .hamburger input:checked+svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 9%;
    height: 40vh;
    flex-direction: column;
    background-color: var(--orangeweb);
    width: 100%;
    height: 100%;
    justify-content: start;
    padding-top: 8rem;
    transition: 0.3s;
    gap: 50px;
    background-color: black;
    z-index: 1;
  }

  .nav-link {
    font-size: 2rem;
  }


  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    Left: 0;
  }

}

/*End of burger menu */


/* Inspirations side START */


.video-article {
  width: 90%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4rem;
  max-width: 850px;
}


.video-article p {
  font-size: clamp(1rem, 1.5rem, 3rem);
  margin-bottom: 3rem;
}

.video-article h2 {
  font-size: clamp(1rem, 3rem, 5rem);
}

.inspir-header-desktop {
  display: none;
}

.infographic-header {
  width: 100%;
  height: 120px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #FEF1EE;
}

.wine-head-svg {
  position: absolute;
  left: -60%;
  width: 140%;
  z-index: 9;
}

.wine-sect {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.sect-red {
  background-color: #E94A4C;
}

.sect-yellow {
  background-color: #FDF0D5;
}

.wine-text-red-sect {
  color: #FEF1EE;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.wine-text-yellow-sect {
  color: #E94A4C;
  width: 90%;
  margin: 0 auto;
  display: grid;
  gap: 10px;
}

.wine-text h3,
h4 {
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
}

.wine-text h3 {
  font-size: 20px;
}

.wine-text h4 {
  font-size: 18px;
}

.wine-and-glass {
  width: 100px;
}

.wine-illu {
  display: flex;
  gap: 40px;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

.grid-circle-container {
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 7px;
}

.grid-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #F18F97;
}

.grid-text-yellow {
  display: flex;
  align-items: center;
  color: #FEF1EE;
  font-size: 18px;
}

.grid-text-red {
  display: flex;
  align-items: center;
  color: #E94A4C;
  font-size: 18px;
}

.grid-circle.filled-yellow {
  background-image: linear-gradient(to right, #FDF0D5 50%, #FDF0D5 50%);
}

.grid-circle.filled-red {
  background-image: linear-gradient(to right, #E94A4C 50%, #E94A4C 50%);
}


.grid-circle.half-filled-yellow {
  background-image: linear-gradient(to right, #FDF0D5 50%, #F18F97 50%);
}

.grid-circle.half-filled-red {
  background-image: linear-gradient(to right, #E94A4C 50%, #F18F97 50%);
}


/* vin-kategori html START  */

.produkter {
  height: 150px;
  width: 80%;
  margin: 10px auto;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;

}

.roodvin-kategori {
  background-image: url(/img/roodvin-kategori.webp);
  background-position: center;
}

.hvidvin-kategori {
  background-image: url(/img/hvidvin-kategori.webp);
  background-position: center;
}

.mousserende-kategori {
  background-image: url(/img/mousserende-kategori.webp);
  background-position: center;
}

.andre-vine-kategori {
  background-image: url(/img/andre-vine-kategori.webp);
  background-position: center;
}

.vinflaske-bg {
  background-image: url(/img/vinflaske-beige.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}
.vinflaske-bg a {
width: 100%;
}

.produkter h2 {
  font-family: 'Raleway', sans-serif;
  font-size: clamp(1rem, 2.2rem, 3rem);
  color: white;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 20px;


  
}

.hvidvin-header,
.andre-vine-header {
  justify-content: flex-end;
}


/* vin-kategori html  SLUT */


@media (min-width:430px) {
  .infographic {
    width: 90%;
    margin: auto;
  }




}

@media (min-width: 768px) {

  .infographic,
  .video-article {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    padding-bottom: 20px;
  }

  #myVideo {
    height: 300px;
    width: 500px;
  }

  .video-article-text {

    text-align: start;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15%;
  }

  .video-article p {
    font-size: 1.5rem;

  }


  .info-2 {
    order: 3;
  }

  .info-3 {
    order: 3;
  }

  .info-4 {
    order: 4;
  }

  .info-5 {
    order: 5;
  }

  .info-6 {
    order: 6;
  }

  /* Inspirations side SLUT */


  /*footer design */


  footer article {
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding-top: 30px;

  }

  .footer-wrapper-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer hr {
    display: none;
  }

  .soMe-footer {
    display: flex;
    flex-direction: column;
    text-align: start;
    width: 100%;
    align-items: center;
    gap: 20px;
    border: hidden;


  }

  .soMe {
    padding: 0px;
  }

  .kontakt-footer {
    order: 1;
  }

  .soMe-footer {
    order: 2;
  }

  .adresse-footer {
    order: 3;
  }


  .soMe-footer h6 {
    display: block;
  }

  footer li {
    font-size: clamp(.9rem, 1.2rem, 2rem);

  }

  .video-article h2 {
    font-size: clamp(1rem, 2rem, 3rem);



  }

  .inspir-header-mobile {
    display: none;
  }

  .inspir-header-desktop {
    display: block;
  }

  .video-article,
  .infographic {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 850px;
    max-width: 1000px;
  }

  .infographic-header {
    grid-column: span 2;
    height: 200px;
  }

  .sect-red {
    background-image: url(/img/wave-bg-info-01.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .sect-yellow {
    background-color: #FDF0D5;
    background-image: url(/img/wave-bg-info-02.svg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .info-1 {
    order: 1;
  }

  .info-2 {
    order: 3;
  }

  .info-3 {
    order: 3;
  }

  .info-4 {
    order: 4;
  }

  .info-5 {
    order: 5;
  }

  .info-6 {
    order: 6;
  }

  /*-------- Produkt teaser article --------*/

  .mySlides img,
  .mySlides2 img,
  .mySlides3 img {
    width: 100%;
    max-width: 700px;
  }
  .produkt-teaser-section {
    height: 80vh;
    gap: 40px;
  }
  .produkt-teaser-text {
    font-size: 22px;
    margin: 0 auto;
  }
  .slideshow-container {
    margin: 0 auto;
  }
  .produkt-teaser-article h2 {
    font-size: 34px;
  }
  .produkt-teaser-article h3 {
    font-size: 30px;
  }

  .se-mere-button{
    font-size: 24px;
  }
 /*-------- big wawe --------*/
  .big-wave p{
    max-width: 460px;
    font-size: 22px;
  }
  /*-------- nyhedsbrev --------*/
  .nyhedsbrev-section {
    max-width: 500px;
    gap: 50px;
  }
  .nyhedsbrev-section h2 {
    font-size: 34px;
  }
  .nyhedsbrev-section p {
    font-size: 22px;
  }
  .tilmeld-wrapper button {
    font-size: 18px;
  }
  /*-------- inspirations teaser --------*/
  .ins-teaser-article h2 {
    font-size: 34px;
  }
  .ins-teaser-article p {
    font-size: 22px;
  }
  .ins-teaser-article a {
    font-size: 24px;
    padding: 15px 20px;
  }
  .wine-bottle-wrapper img {
    width: 85px;
  }
  
}